@import "variables";
@import "~bulma";

body {
  color: #020202;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

a {
  color: #020202;
  text-decoration: none;
  &:hover {
    color: #020202;
    text-decoration: none;
  }
}

main {
  margin: 42px auto 42px auto;
  &.container{
    padding: 0;
  }
}

footer {
  text-align: center;
  padding: 21px;
  p {
    margin: 0;
  }
}

@import 'header';
@import 'news';
@import 'artists';